body {
  font-size: 12px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.patienten-id {
  display: flex;
  gap: 1ch;
  align-items: center;
  margin-bottom: 2rem;
}

tfoot {
  td[colspan] {
    font-weight: bold;
    text-align: right;
  }
  border-top: 1px solid black;
}
